.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: linear-gradient(45deg, rgb(35, 221, 106), rgb(0, 153, 255));
    padding: 1rem;
    color: rgba(0, 255, 13, 0.808);
}
  
  .navbar ul {
    list-style-type: none;
    display:flex;
    gap: 2rem;
  }
  
  .navbar ul li {
    margin: 0;
  }
  
  .navbar ul li a {
    color: rgb(35, 221, 106);
    text-decoration: none;
    border: 2px solid rgb(35, 221, 106);
    padding: 6px; 
    border-radius: 5px; 
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }
  